@font-face {
    font-family: tradegothic;
    src: url('../tradegothic.ttf') format('truetype');
}

body {
    background-color: #293759;
}

.clock {
    outline: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

*{
    outline:none;
    text-decoration: none;
}


#contenthost {
    z-index: -3;
    font-size: 9em;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: tradegothic;
    text-transform: uppercase;
}

#navbar {
    background-color: #808080;
}